{% load static %}



<header>

  <div class="mynav">
    <ul>
      <li class="home"><a class="active" href="{% url 'products' %}">MyShop</a></li>
      <li class="cate"><a>categories</a>
        <ul>
          <li>
            {% if categories %}
            {% for cat in categories %}
            <a href="{% url 'productspk' cat.id %}">{{cat.cat_name}}</a>
            {% endfor %}
            {% else %}
            <a>ไม่พบข้อมูล</a>
            {% endif %}
            <a href="{% url 'categories' %}">จัดการหมวดหมู่</a>
          </li>
        </ul>
      </li>


    </ul>
    <ul class="d-flex">
      <li>
        <input type="search" id="search" class="form-control w-100 mt-2"
          placeholder="ค้นหา">
      </li>
      <li>
        {% if user.is_authenticated %}
        <a>{{user.username}}</a>
        <ul>
          <li>
            <a style="color: red !important;" href="{% url 'logout' %}"
              class="menu">ลงชื่อออก</a>
          </li>
        </ul>
        {% else %}
        <a href="{% url 'signinup' %}">ลงชื่อเข้าใช้</a>
        <ul>
          <li>
            <a href="{% url 'contact' %}">ติดต่อ</a>
          </li>
        </ul>
        {% endif %}

      </li>
    </ul>
  </div>



</header>
