{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block titleTag %}
ติดต่อ
{%endblock titleTag %}

{% block breadcrumbs %}
{% if showBread %}
<li><a href="{% url 'products' %}">หน้าแรก</a></li>
<li><a>ติดต่อสอบถาม</a></li>
{% endif %}
{% endblock breadcrumbs %}


{% block content %}
<div class="container d-flex">
    <div class="container">
        <h1>Log in</h1>
        <form method="post" novalidate>
            {% csrf_token %}
            <input type="hidden" name="form" value="login">
            {{ login|crispy }}
            <button type="submit" class="btn btn-success mt-3">เข้าสู่ระบบ</button>
        </form>
    </div>
    <div class="container">
        <h1>Sign Up</h1>
        <form method="post" novalidate>
            {% csrf_token %}
            <input type="hidden" name="form" value="regis">
            {{ regis|crispy }}
            <button type="submit" class="btn btn-success">ลงทะเบียน</button>
        </form>
    </div>
</div>

{% endblock content %}